<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/stylesheets/styles.css"/>
</head>
<body>
    <h1> This is Shakira</h1>
    <div class="menu"> 
    <a href= "/About">About</a>
    <a href= "/works">Works</a>
    <a href= "/Gallery">Gallery</a>
    </div>
    <h2> Welcome to Shakira's page</h2>
    <p> Get to know about her life and career milestones</p>
    <a href= "/About">Start here</a>
    <span id="image"><img src="/images/home1.jpeg"/>  </span>
</body>
</html>